<h3><%= "#{@article.title}" %></h3>

<p><%= @article.content%></p>

<button><%=link_to "Back to main page", articles_path%></button>


<a <% href="/articles/#{@article.id}/edit">
  <i class="fa fa-pencil">
  </i>
</a>%>>

<button>
  <%= link_to "🗑",
    article_path(@article),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
</button>
